html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #e87979;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

nav {
    height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: black;
}

.nav__image {
    width: 195px;
    margin-left: 10px;
    align-self: center;
}

.nav__text {
    margin-right: 35px;
    text-decoration: none;
    color: white;
    font-size: 23px;   
    font-weight: 300;
    letter-spacing: .03em;
    padding: 10px;
}

.nav__text:hover {
    background: rgb(78, 76, 76);
    border-radius: 5px;
}

.intro {
    display: flex;
}

.intro__pig-in-cage-img {
    max-width: 50%;
    height: 100vh;
}

.intro__text {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
}