body {
    background-color: #e87979;
    margin: 0;
}

nav {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.nav__image {
    size: 100px;
}

.nav__text {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(173, 76, 76);
}

/* ------------------------------------------------------------------- */

.chat__window {
    background-color: #e6a5a5;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    /* height: auto; */
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-spacing: 100px;
}
 
.chat__box {
    margin-left: 150px;
    margin-right: 150px;
}

.chat-header {
   
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}