html {
	margin: 0;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    margin: 0;
    background-color: #e87979;
}

/* ------------------------------------------------------------------- */

nav {
    height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(104, 103, 103);
    box-shadow: 0px 8px 6px -6px rgba(0,0,0,.5);
}

.nav__image {
    width: 195px;
    margin-left: 10px;
    align-self: center;
}

.nav__text {
    margin-right: 35px;
    text-decoration: none;
    color: white;
    font-size: 23px;   
    font-weight: 300;
    letter-spacing: .03em;
    padding: 10px;
}

.nav__text:hover {
    background: rgb(78, 76, 76);
    border-radius: 5px;
}

/* ------------------------------------------------------------------- */

.header {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 50px;
}

.post__window {
  color: white;
  background-color: #e6a5a5;
  border: 2px solid white;
  padding: 0px 100px 100px 20px;
  margin: 100px 300px 100px 300px;
  border-radius: 15px;
}

.output {
  font-size: 30px;
}

.msg__window {
  background-color: #e6a5a5;
  text-align: center;
  margin: 0px 300px 0px 300px;
  padding: 0px 50px 0px 50px;
  border: 2px solid white; 
  border-spacing: 100px;
  border-radius: 15px;
}
 
.chat__box {
  margin-bottom: 10px;
  width: 98%;
  
}

.chat__header {
  color: white;
}

.btn {
  margin: 10px 10px 10px 10px;
}

